<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Barlow&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Barlow|Permanent+Marker&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Baloo+Bhai|Barlow|Permanent+Marker&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="/img/img.png" rel="icon" type="image/x-icon" />
    <title>Forum</title>
  </head>
  <body scroll="no">
    <div class="containerddd"><%- body %></div> <!--Messes up Forum if you do it correctly-->

  </body>
</html>
